<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<!-- 消费方关系  用于计算机依赖-->
	<dubbo:application name="e3-manager-web"/>
	<!-- 默认接口2181 -->
	<dubbo:registry protocol="zookeeper" address="192.168.242.128:2181">
	</dubbo:registry>
	<dubbo:reference interface="cn.e3mall.manager.service.ItemService" id="itemService"></dubbo:reference>
	<dubbo:reference interface="cn.e3mall.manager.service.ItemCatService" id="itemCatService"></dubbo:reference>
	<dubbo:reference interface="cn.e3mall.content.service.ContentCategoryService" id="contentCategoryService"></dubbo:reference>
	<dubbo:reference interface="cn.e3mall.content.service.ContentService" id="contentService"></dubbo:reference> 
	<dubbo:reference interface="cn.e3mall.search.service.SearchItemService" id="searchItemService"></dubbo:reference>
</beans>

